<section>
    <div class="container-fluid features-container" name="KeyFeatures">
        <div class="dev-header">
            <h2>Key Features</h2>
        </div>
        <div class="benefits-list">
            <div class="benefit-item">
                <div class="benifit-image">
                    <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-1.svg"
                        class="img-fluid rounded-start" alt=".." />
                </div>
                <h3>Transfer Funds</h3>
                <p>Make a one-time payment and check the status of the transaction</p>
            </div>
            <div class="benefit-item">
                <div class="benifit-image">
                    <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-2.svg"
                        class="img-fluid rounded-start" alt=".." />
                </div>
                <h3>Build new payment experiences</h3>
                <p>Create applications that facilitate innovative payment experiences
                    and support your business growth</p>
            </div>
            <div class="benefit-item">
                <div class="benifit-image">
                    <img src="https://d30n1aq29wj74v.cloudfront.net/ABCOrganization/Key-feature-3.svg"
                        class="img-fluid rounded-start" alt=".." />
                </div>
                <h3>PSD2 eIDAS</h3>
                <p>This API uses PSD2 eIDAS compliant certificates. Any Payment
                    Initiation Service Provider (PISP) with a PSD2 license and a PSD2
                    eIDAS certificate can use this product</p>
            </div>
        </div>
    </div>
    <div class="container-fluid api-overview" name="Overview">
        <div class="row">
            <div class="row text-start">
                <h1 class="overview-title">Overview</h1>
            </div>
            <div class="col-lg-8 api-content-text">
                <div>
                    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus nulla turpis, rutrum et fringilla non,
                        feugiat nec augue. Phasellus nibh quam, finibus id ligula id,
                        fermentum ornare nisl. Suspendisse potenti. Vestibulum purus ipsum,
                        consequat eget ex quis, suscipit sollicitudin leo. Aliquam quis
                        fringilla augue. Nulla rhoncus risus ac faucibus elementum. Nam
                        facilisis metus at lacus porttitor, vel posuere risus sodales. Etiam
                        euismod venenatis iaculis. Donec gravida augue id dolor accumsan
                        consectetur.</p>
                </div>
                <div>
                    <h5 class="section-title">Requirements</h5>
                </div>
                <div>
                    <p class="intro-text">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus nulla turpis, rutrum et fringilla non,
                        feugiat nec augue. Phasellus nibh quam, finibus id ligula id,
                        fermentum ornare nisl. Suspendisse potenti. Vestibulum purus ipsum,
                        consequat eget ex quis, suscipit sollicitudin leo.</p>
                </div>
                <ul class="requirement-list">
                    <li><span class="checkmark"><i class="bi bi-check-circle-fill"></i></span>
                    <li><span class="checkmark"><i class="bi bi-check-circle-fill"></i></span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </li>
                    <li><span class="checkmark"><i class="bi bi-check-circle-fill"></i></span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                        nulla turpis Phasellus nulla turpis</li>
                    <li><span class="checkmark"><i class="bi bi-check-circle-fill"></i></span>
                        Aliquam quis fringilla augue. Nulla rhoncus risus ac faucibus
                        elementum.</li>
                    <li><span class="checkmark"><i class="bi bi-check-circle-fill"></i></span>
                        Suspendisse tellus nisi, ornare vitae tellus non, dignissim tempus
                        est. Cras ut cursus ligula, nec semper risus. Nunc orci lorem,</li>
                </ul>
            </div>
            <div class="col-lg-4 api-sidebar">
                <div>
                    <h5 class="section-title">Use this API to initiate:</h5>
                </div>
                <div>
                    <ul class="api-list">
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nulla turpis</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nulla turpis Phasellus nulla turpis</li>
                        <li>Aliquam quis fringilla augue. Nulla rhoncus risus ac faucibus
                            elementum.</li>
                        <li>Suspendisse tellus nisi, ornare vitae tellus non, dignissim
                            tempus est. Cras ut cursus ligula, nec semper risus. Nunc orci
                            lorem,</li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="common-btn-secondary">Read More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid howwork-content" name="HowItWorks">
        <div class="col-lg-12 dev-header">
            <h2>How it Works</h2>
        </div>
        <div class="row card-section">
            <div class="col-lg-4">
                <div class="card dev-card custom-api-card">
                    <div class="card-body">
                        <div class="icon-container">
                            <div class="icon-circle">
                                <span>1</span>
                            </div>
                            <div class="yellow-circle"></div>
                        </div>
                        <h5 class="work-apicard-title">Initiate a payment</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nulla turpis, rutrum et fringilla non, feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card dev-card custom-api-card">
                    <div class="card-body">
                        <div class="icon-container">
                            <div class="icon-circle">
                                <span>2</span>
                            </div>
                            <div class="yellow-circle"></div>
                        </div>
                        <h5 class="work-apicard-title">Request customer consent</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nulla turpis, rutrum et fringilla non, feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card dev-card custom-api-card">
                    <div class="card-body">
                        <div class="icon-container">
                            <div class="icon-circle">
                                <span>3</span>
                            </div>
                            <div class="yellow-circle"></div>
                        </div>
                        <h5 class="work-apicard-title">Execute the payment</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nulla turpis, rutrum et fringilla non, feugiat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-container" name="FAQ">
        <h1>FAQ</h1>
        <p>Can't find the answer you're looking for? Check out our
            <a href="#">documentation</a>
            or
            <a href="#">contact our team.</a>
        </p>

        <div class="faq-item">
            <p class="faq-question">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Phasellus nulla turpis, rutrum et fringilla non, feugiat?</p>
            <div class="faq-tags">
                <span class="badge faq-badge-custom1">FAQ</span>
                <span class="badge faq-badge-custom1">Payment API</span>
            </div>
            <p class="faq-answer">Suspendisse potenti. Vestibulum purus ipsum,
                consequat eget ex quis, suscipit sollicitudin leo. Aliquam quis
                fringilla augue. Nulla rhoncus risus ac faucibus elementum. Nam
                facilisis metus at lacus porttitor, vel posuere risus sodales. Etiam
                euismod venenatis iaculis. Donec gravida augue id dolor accumsan
                consectetur.</p>
        </div>
        <hr />
        <div class="faq-item">
            <p class="faq-question">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Phasellus nulla turpis, rutrum et fringilla non, feugiat?</p>
            <div class="faq-tags">
                <span class="badge faq-badge-custom1">FAQ</span>
                <span class="badge faq-badge-custom1">Payment API</span>
            </div>
            <p class="faq-answer">Suspendisse potenti. Vestibulum purus ipsum,
                consequat eget ex quis, suscipit sollicitudin leo. Aliquam quis
                fringilla augue. Nulla rhoncus risus ac faucibus elementum. Nam
                facilisis metus at lacus porttitor, vel posuere risus sodales. Etiam
                euismod venenatis iaculis. Donec gravida augue id dolor accumsan
                consectetur.</p>
        </div>
        <hr />
        <div class="faq-item">
            <p class="faq-question">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Phasellus nulla turpis, rutrum et fringilla non, feugiat?</p>
            <div class="faq-tags">
                <span class="badge faq-badge-custom1">FAQ</span>
                <span class="badge faq-badge-custom1">Payment API</span>
            </div>
            <p class="faq-answer">Suspendisse potenti. Vestibulum purus ipsum,
                consequat eget ex quis, suscipit sollicitudin leo. Aliquam quis
                fringilla augue. Nulla rhoncus risus ac faucibus elementum. Nam
                facilisis metus at lacus porttitor, vel posuere risus sodales. Etiam
                euismod venenatis iaculis. Donec gravida augue id dolor accumsan
                consectetur.</p>
        </div>
    </div>
</section>