.api-banner-container {
  background-color: var(--primary-color);
  padding: 60px 40px 50px 90px;
  color: var(--font-colour-primary);
  text-align: left;
}

.api-image {
  width: 70px;
  height: 70px;
  height: auto;
  margin-bottom: 10px;
}

.api-title {
  display: flex;
  align-items: center;
  margin-bottom: -8px;
}

.api-title h4 {
  font-size: 24px;
  font-weight: 600;
}

.api-badge-custom1 {
  border: 1px solid var(--border-colour-secondary);
  background-color: transparent;
  color: var(--font-colour-primary);
  padding: 3px 5px;
  margin: 2px 0 8px 8px;
}

.api-badge-custom2 {
  border: 1px solid var(--border-colour-secondary);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 3px 5px;
  margin: 5px 5px 2px 0;
}

.api-desciption {
  font-size: 14px;
  margin-bottom: 8px;
  opacity: 0.8;
}

.api-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  max-width: 350px;
}

.api-details-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.api-details-btn a {
  text-decoration: none;
  padding: 8px 40px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .col-md-auto {
    align-self: flex-start;
  }
}
