body {
  background-color: var(--main-bg-color);
}

.hero-section-apilisting {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: var(--primary-color);
  height: auto;
}

.apilist-hero-container {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin-top: 30px;
}

.apilist-hero-content h1,
.apilist-hero-content p,
.apilist-hero-content span {
  color: var(--font-colour-primary);
}

.apilist-hero-content h1 {
  font-size: 35px;
  font-weight: bold;
}

.apilist-hero-content p {
  font-size: 14px;
  line-height: 24px;
}

.apilist-hero-header{
  max-width: 800px;
}
.apilist-hero-content span {
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--light-color);
}

.apilist-hero-content {
  margin: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.api-list-header {
  font-size: 30px;
  font-weight: 600;
  margin: 3px;
}

.api-list-subheader {
  font-size: 16px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--border-colour-secondary);
  padding: 10px 15px;
  border-radius: 25px;
  width: 100%;
  height: 40px;
}

.search-input input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  font-size: 14px;
  background-color: transparent;
  color: var(--main-bg-color);
}

#query::placeholder {
  color: var(--main-bg-color);
  opacity: 0.6;
}

.bi-search {
  color: var(--main-bg-color);
  font-size: 20px;
  position: relative;
  top: -2px;
}

.apilist-container {
  padding: 10px 65px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.api-filterlist {
  color: var(--main-text-color);
  margin-top: 15px;
}

.api-filter-content {
  margin-bottom: 10px;
  padding-left: 10px;
}

.filter-header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--main-text-color);
  margin-right: 20px;
}

.bi-chevron-down {
  font-size: 16px;
  color: var(--main-text-color);
}

.filter-sub {
  font-size: 14px;
  color: var(--main-text-color);
}

.form-check-input{
  border-color: var(--notselect-star-color);
}

hr {
  margin-top: 0;
  margin-bottom: 10px;
  border-color: #dee2e6;
}

.form-check-input {
  accent-color: var(--primary-color);
}

.form-check-label {
  font-size: 14px;
  color: var(--main-text-color);
  margin-left: 5px;
}

.api-card {
  max-width: 300px;
  text-align: left;
}

.api-card-img {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  object-fit: cover;
}

.api-card-body {
  padding: 0;
  margin-bottom: 10px;
}

.api-card-title {
  font-size: 16px;
  color: var(--main-text-color);
  margin: 0;
  font-weight: 600;
}

.api-card p {
  font-size: 12px;
  color: var(--main-text-color);
  margin: 0;
  line-height: 1.5;
}

.apilisting-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.badge-custom1 {
  border: 1px solid var(--border-colour-primary);
  background-color: var(--main-bg-color);
  color: var(--border-colour-primary);
  margin: 2px 5px 20px 0;
}

.badge-custom2 {
  border: 1px solid rgba(99, 99, 110, 0.25);
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: 0;
  margin: 5px 5px 0 0;
}

.apibtn-container {
  margin: 5px 0;
}
.apilistbtn-primary,
.apilistbtn-secondary {
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 14px;
}

.apilistbtn-primary {
  background-color: transparent;
  color: var(--border-colour-primary);
  border: 1px solid var(--border-colour-primary);
}

.apilistbtn-primary:hover {
  background-color: var(--primary-color);
  color: var(--font-colour-primary);
}

.apilistbtn-secondary {
  background-color: transparent;
  color: var(--border-colour-primary);
  border: none;
}

.apilistbtn-secondary:hover {
  color: var(--dark-color);
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 3px;
}

.star-rating {
  display: inline-block;
  margin: 5px 0;
}

.star {
  font-size: 15px;
  color: var(--border-colour-primary);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.star:hover,
.star.selected {
  color: var(--warning-color);
}

.star:hover,
.star.noselected {
  color: var(--notselect-star-color);
}
