<section>
<div class="documentation-banner">
    <div class="banner-content">
        <h1>Ready to Build?</h1>
        <p>See the documentation to get started</p>
        <button type="button" class="common-btn-secondary" href="#">Documentation<i
                class="fas fa-arrow-right"></i></button>
    </div>
    <div class="banner-image">
        <img src="/images/documentation-banner.svg"
            alt="Documentation Banner" />
    </div>
</div>
</section>