<section>
  <div class="feature-container">
    <div class="row feature-content">
      <div class="col-lg-6 left-content">
        <h3 class="feature-title">What we do</h3>
        <div class="feature-subtitle">
          <h5>Helps to solve all your account related problems</h5>
        </div>
        <button type="button" class="common-btn-secondary">Learn More</button>
      </div>
      <div class="col-lg-6 features-list">
        <div class="row">
          <div class="col-lg-6 feature-product">
            <img src="/images/ProductIcon.png" alt="Logo"
              class="feature-img" />
            <h5 class="feature-name">Products</h5>
            <div class="feature-details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus condimentum maximus nisl ut malesuada. Integer
                facilisis tortor</p>
            </div>
          </div>
          <div class="col-lg-6 feature-api">
            <img src="/images/api.svg" class="feature-img" alt="Logo" />
            <h5 class="feature-name">APIs</h5>
            <div class="feature-details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus condimentum maximus nisl ut malesuada. Integer
                facilisis tortor</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 feature-analytic">
            <img src="/images/analyticsIcon.png" class="feature-img"
              alt="Logo" />
            <h5 class="feature-name">Analytics</h5>
            <div class="feature-details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus condimentum maximus nisl ut malesuada. Integer
                facilisis tortor</p>
            </div>
          </div>
          <div class="col-lg-6 feature-report">
            <img src="/images/ReportingIcon.png" class="feature-img"
              alt="Logo" />
            <h5 class="feature-name">Reporting</h5>
            <div class="feature-details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus condimentum maximus nisl ut malesuada. Integer
                facilisis tortor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>