<section>
  <div class="feature-container">
    <div class="row feature-content">
      <div class="col-lg-6 left-content">
        <h3 class="feature-title">What we do</h3>
        <div class="feature-subtitle">
          <h5>Helps to solve all your account related problems</h5>
        </div>
        <button type="button" class="common-btn-secondary">Learn More</button>
      </div>
      <div class="col-lg-6 features-list">
        <div class="row">
          <div class="col-lg-6 feature-product">
            <img src="/images/product_icon.png" alt="Logo" class="feature-img" />
            <h5 class="feature-name">Comprehensive API Catalog</h5>
            <div class="feature-details">
              <p>Explore a wide range of APIs, including the Accommodation API and Leisure Activities API, to enhance
                your platform with high-quality data and powerful functionality.</p>
            </div>
          </div>
          <div class="col-lg-6 feature-api">
            <img src="/images/api.svg" class="feature-img" alt="Logo" />
            <h5 class="feature-name">Interactive API Documentation</h5>
            <div class="feature-details">
              <p>Access detailed API documentation, including getting started guides, endpoint references, and
                integration examples, to accelerate development.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 feature-analytic">
            <img src="/images/analytics_icon.png" class="feature-img" alt="Logo" />
            <h5 class="feature-name">Real-Time Analytics and Monitoring</h5>
            <div class="feature-details">
              <p>Keep track of your API usage with a comprehensive dashboard that provides real-time insights into
                request volumes, error rates, and performance metrics.</p>
            </div>
          </div>
          <div class="col-lg-6 feature-report">
            <img src="/images/reporting_icon.png" class="feature-img" alt="Logo" />
            <h5 class="feature-name">Customizable API Integration</h5>
            <div class="feature-details">
              <p>Choose between REST and GraphQL endpoints for seamless integration, allowing you to tailor data
                requests to your platform’s specific requirements.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>