<section>
  <div class="hero">
    <div class="container anim">
      <div class="content">
        <h1>Build robust <span>scalable apps</span> faster than ever before</h1>
        <div class="subtitle">
          <p>
            APIs connect you to all major service providers, enabling seamless
            integration and real-time communication between different platforms
            and services.</p>
        </div>
        <div class="buttons">
          <a type="button" class="common-btn-primary" href="{{baseUrl}}/apis">Browse Our APIs</a>
          <a type="button" class="common-btn-secondary">Learn More</a>
        </div>
      </div>
      <div class="hero-image">
        <img src="/images/hero.svg" alt="Hero Image" />
      </div>
    </div>
  </div>
</section>