body {
  font-family: var(--font-family-sans);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 5px 0;
  background-color: var(--primary-color);
  height: 1000px;
}

.container {
  width: 100%;
  max-width: 960px;
  text-align: center;
  margin-top: 30px;
}

.content {
  margin-bottom: 60px;
}

.subtitle {
  padding: 0 40px;
  margin-bottom: 20px;
}
.content h1,
.content p,
.content span {
  color: var(--font-colour-primary);
}

.content h1 {
  font-size: 36px;
  font-weight: bold;
}

.content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.content span {
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--light-color);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.hero-image img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.hero-btn:hover {
  filter: brightness(1.1);
}

.hero-btn:active {
  filter: brightness(0.9);
}

.hero-btn:focus {
  box-shadow: 0 0 0 1px rgba(226, 225, 252, 0.5);
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.6s linear forwards;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
