.testimonial-container {
  background: var(--main-bg-color);
  padding: 40px 60px;
  border-radius: 10px;
}

.testimonial-heading {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 80px;
}

.testimonial-card {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  margin-bottom: 10px;
}

.card-body {
  position: relative;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  max-width: 300px;
  text-align: left;
  line-height: 18px;
  margin-bottom: 10px;
}

.profile-info h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.profile-info p {
  font-size: 14px;
  color: var(--main-text-color);
  margin: 0;
}

.linkedin-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.linkedin-icon img {
  width: 40px;
  height: 40px;
}

.rounded-circle {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-text {
  margin-top: 10px;
  color: #666;
  font-size: 14px;
  color: var(--main-text-color);
}
