.custom-navbar {
  background-color: var(--primary-color);
  padding: 10px 40px;
  height: 64px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.navbar-logo img {
  margin-right: 10px;
  width: 80px;
  height: 50px;
}

.navbar-nav,
a {
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.navbar-nav li {
  margin-bottom: 0px;
}

.navbar-nav .nav-link {
  color: var(--font-colour-primary);
  margin-right: 20px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #cce7ff;
}

.navbar-nav .dropdown-menu {
  background-color: var(--font-colour-primary);
  border: none;
}

.navbar-nav .dropdown-item {
  color: var(--main-text-color);
}

.navbar-nav .dropdown-item:hover {
  background-color: var(--main-bg-color);
}

.custom-signup-btn {
  background-color: var(--secondary-color);
  border-color: var(--border-colour-primary);
  color: var(--font-colour-primary);
  border-radius: 25px;
  padding: 8px 20px;
  margin-right: 5px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-signup-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--border-colour-primary);
}

.custom-signup-btn:focus {
  box-shadow: 0 0 0 1px rgba(226, 225, 252, 0.5);
  background-color: var(--dark-color);
  color: var(--font-colour-primary);
}

.custom-signup-btn:active {
  filter: brightness(0.9);
}

.custom-login-btn {
  color: var(--font-colour-primary);
  border-radius: 20px;
  padding: 10px 20px;
  border: 0px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
}

.custom-login-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--font-colour-primary);
}

.custom-login-btn:focus {
  box-shadow: 0 0 0 1px rgba(226, 225, 252, 0.5);
  background-color: var(--dark-color);
  color: var(--font-colour-primary);
}

.custom-login-btn:active {
  filter: brightness(0.9);
}
